$main-orange: #e36810;
$main-orange-hover: #df4100;
$main-white: #fff;
$main-text: #fcf7ef;
$main-black: #000000;
$main-black-text: #212121;

$color-warning: #ed3535;

$border-color: #ced4da;

$quick-sand: "Quicksand", sans-serif;
$noto-sans: "Noto Sans", sans-serif;
